
<%if @current_user.id!=user.id%>
<% @follow=Follow.find_by(following_id: @current_user.id,followed_id: user.id) %>
<%if @follow%>
<p class="follow_button"><object><%=link_to("following","/users/#{user.id}/follows/#{@follow.id}",method: :delete,remote: true)%></object></p>
<%else%>
<p class="not_follow_button"><object><%=link_to("follow","/users/#{user.id}/follows",method: :post,remote: true)%></object></p>
<%end%>
<%end%>
