<div class="about_container">

<p class="about_title">クリエイターのためのSNS</p>

<div class="about_index_wrap">
<p><i class="far fa-edit"></i> 自分の創作物やインスピレーションを貰ったことを共有しよう！ <i class="far fa-edit"></i></p>
<video autoplay muted playsinline loop src="/about_index.mp4"></video>
</div>

<div class="about_dm_wrap">
<p><i class="far fa-envelope"></i>  DM機能を利用して気に入ったユーザーと繋がろう！<i class="far fa-envelope"></i></p>
<%=image_tag "/about_dm.jpg"%>
</div>

<div class="about_search_wrap">
<p><i class="fas fa-search"></i> 検索機能を利用して自分が望む作品と出会おう！<i class="fas fa-search"></i></p>
<video autoplay muted playsinline loop src="/about_search.mp4"></video>
</div>

<div class="about_language">
<p><span>開発言語</span> HTML/CSS/Ruby/jQuery/Javascript</p>
</div>

</div>
