<div class="about_container">


<div class="about_letter_wrap_top">
<p class="about_first_letter">自分の創作物やインスピレーションを貰ったことを共有するアプリです。</p>
<p class="about_second_letter">DM機能を利用して自分が気に入ったユーザーと繋がれたり、検索機能を利用して自分が望む作品と出会うことが可能です。</p>
</div>

<div class="about_video_wrapper">
<p id="about_video_description">アプリの実行動画</p>
<video poster="/about_top.jpg" playsinline src="/about_movie.mp4" type="video/mp4" controls></video>
</div>

<div class="about_letter_wrap_bottom">
<p class="about_third_letter">クリエイター同士がSNS感覚で気軽にinspirationを与え合える環境を目指して開発中。</p>
<p class="about_fourth_letter">アプリ名は、名付けて”insp”です。</p>
</div>

<div class="about_language">
<p><span>開発言語</span> HTML/CSS/Ruby/jQuery/Javascript</p>
</div>

</div>
