// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tag a{
    font-size:12px;
}




.index_comment_name_content_edit{
    display: flex;
    justify-content:space-between; 
    margin-top:10px;
    margin-bottom:20px;
}

.index_comment_edit_delete {
    margin-right:25px;
}

.index_comment_edit_delete a{
    text-decoration: underline;
    color:grey;
    font-size:10px;
}

.comment_edit_letter{
    text-align:center;
    font-size:40px;
    color:rgb(175, 175, 175);
    margin-bottom:140px;
}









.comment_container{
    padding-top:200px;
    padding-bottom:100px;
    width:55%;
    margin:0 auto;
}








.comment_index_show{
  border: solid 1px rgb(218, 217, 217);
  margin-top:20px;
  background-color: white;
}






.comment_content{
    font-size:13px;
    color:rgb(70, 70, 70);
    margin-top:5px;
}



.comment_time{
    font-size:9px;
    color:rgb(148, 148, 148);
    margin:0;
}




.comment_else{
    text-align:center;
    color:rgb(88, 88, 88);
    font-size:13px;
    margin-top: 50px;
}








.index_comment_likes_count{
    background-color: white;
    border: solid 1px rgb(218, 217, 217);
    margin: 0 0 -1px; 
}

.index_comment_likes_count p{
    margin:0;
    font-size:14px;
    color:rgb(43, 43, 43);
    padding-top:3px;
    padding-bottom:3px;
    padding-left:12px;
}

.index_comment_likes_count span{
      font-weight: bold;
}


//コメント返信

.reply_button{
    display:inline;
    cursor: pointer;
}


#reply_form{
    display:block;
}


  
.text_reply_wrap{
   text-align:right; 
   margin:0;
}


.comment_reply_text_area{
    border: none;
    width:750px;//div調整するとjQueryのcountもずれて面倒だから、max-widthで調整してな
    border-bottom: solid 1px rgb(110, 110, 110);
    margin-right:16px;
    margin-top:1px;
}

  
.comment_reply_text_area:focus{
    outline: none;
}

.comment_reply_reply_text_area{
    border: none;
    width:700px;//div調整するとjQueryのcountもずれて面倒だから、max-widthで調整してな
    border-bottom: solid 1px rgb(110, 110, 110);
    margin-right:16px;
    margin-top:1px;
}

.comment_reply_reply_text_area:focus{
    outline: none;
}

.reply_button_wrap{
    text-align: right;
    margin-top:5px;
}
  
.comment_reply_toukou_button{
    border-radius: 20px;
    border: none;
    background-color: white;
    color: #0095f6;
    font-weight: bold;
    margin-right:10px;
    cursor: pointer;
}

.comment_reply_cancel_button{
      font-size:12px;
      font-weight:bold;
      color:rgb(95, 95, 95);
      cursor: pointer;
}
  

.comment_reply_form img{
    width: 20px;
    height: 20px;
    border-radius: 23px;
    vertical-align: top;
    margin-top:4px;
    object-fit: cover;
}


.reply_comment{
    margin-left:50px;
}





.comment_container{
    padding-top:200px;
    padding-bottom:100px;
    width:55%;
    margin:0 auto;
}



@media (max-width: 390px) {
    .comment_container{
        padding-top:56px;
        padding-bottom:0;
        width:100%;
        margin:0 auto;
        height:100%;
    }
    .comment_index_show{
        border: solid 1px rgb(218, 217, 217);
        margin-top:20px;
        background-color: white;
      }

      #reply_form{
        display:block;
    }
    .comment_reply_text_area{
        border: none;
        width:380px;//div調整するとjQueryのcountもずれて面倒だから、max-widthで調整してな
        border-bottom: solid 1px rgb(110, 110, 110);
        margin-right:16px;
        margin-top:1px;
    }
    .comment_reply_reply_text_area{
        border: none;
        width:330px;//div調整するとjQueryのcountもずれて面倒だから、max-widthで調整してな
        border-bottom: solid 1px rgb(110, 110, 110);
        margin-right:16px;
        margin-top:1px;
    }
    .reply_button_wrap{
        text-align: right;
        margin-top:5px;
        margin-bottom:70px;
    }
}