// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html{
  background-color: rgb(250, 249, 249);
}



//いいね取り消し
.like-btn {
  color: #8899a6;
  padding-left:3px;
}

.fa-heart:before{
  padding:2px;
  border-radius:10px;
}

.fa-heart:hover:before {
  background-color:#ff7ab1;
}
//


//いいね追加
.like-btn-unlike {
  color: #ff2581;
  padding-left:3px;
}


.like-btn-unlike:before{
  padding:2px;
  border-radius:10px;
}
//


//コメントマーク
.fa-comment{
  color:rgb(194, 194, 194);
}

.fa-comment:before{
  padding-right:2px;
}
//








.h1{
    background-color: cornflowerblue;
    color:rgb(238, 236, 227);
    opacity:0.7;
    margin:0;
}



.container{
  padding-top:100px;
  padding-bottom: 100px;
  width:55%;
  margin:0 auto;
}

@media (max-width: 390px) {
  .follow_container {
    width: 100%;
  }
  .title_insp{
    padding-left:30px;
  }
  .container{
    width: 100%;
  }

  table{
    width: 100%;
  }
}


.index {
  height:auto;
  border: solid 1px rgb(218, 217, 217);
  background-color: white;
  padding-top: 20px;
  padding-bottom: 15px;
  display:flex;
  justify-content: space-between;
  margin: 0 0 -1px; 
  width:100%;
  box-sizing: border-box;
}

.index:hover{
  background-color:rgb(243, 243, 243);
}

.index_right_left{
  display: flex;
  width:100%;
}

.index_left{
  padding-left:15px;
  text-align: center;
  width:7%;
}


.index_header{
  display:flex;
  justify-content: space-between;
  margin-left:1px;
}

.index_header_left{
  display:flex;
}

.index_header p{
  color:grey;
}

.index_gazo img{
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
  object-fit: cover;
}



.index_likes_comments{
  display:flex;
  justify-content: space-between;
}


.index_header a{
  vertical-align: top;
  margin:0;
  font-weight: bold;
  font-size:13px;
  padding-right:10px;
  padding-left:10px;
}




.index_header p{
  margin:0;
  font-size:12px;
}



.index_title{
  margin-top:4px;
  margin-bottom: 8px;
  margin-left:12px;
  margin-right:15px;
}

.index_setu{
  font-size:12px;
  margin-top:4px;
  margin-bottom: 10px;
  margin-left:13px;
  margin-right:12px;
}

.index_setu p{
  margin-top: 6px;
  margin-bottom: 3px;
}





.index_comment_name_content{
  display:flex;
}


.index_comment_name{
  font-weight: bold;
  font-size:12px;
}

.index_comment_name_content img{
  width:30px;
  height:30px;
  margin-left:23px;
  margin-top:10px;
  margin-right:15px;
  margin-bottom:10px;
  border-radius: 20px;
}


.comment_edit{
  width:8%;
  font-size:12px;
}


















.comment_button_text_area form{
  display:flex;
  justify-content: space-between;
  
  padding:10px;
  border: solid 1px rgb(218, 217, 217);
  background-color: white;
}


.comment_text_area{
  border: none;
  width:100%;
}

.comment_text_area:focus {
  outline: none;
}

.comment_toukou_button{
  border-radius: 20px;
  border: none;
  background-color: white;
  color: #0095f6;
  font-weight: bold;
}

.comment_toukou_button:hover{
  opacity:0.6;
}

.comment_toukou_button:focus {
  outline: none;
}


















table {
  border-collapse: collapse;
  text-align:center;
  width:28%;
  margin: 0 auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



table a:hover{
  opacity:0.6;
}

table th, table td {
  border: solid 1px rgb(172, 168, 153);
  /*実線 1px 黒*/
}

table {
  background-color: rgb(243, 243, 214);
}

table th{
  font-weight: normal;
  background-color: rgb(214, 197, 101);
  font-size:15px;
  padding:0;
  color:rgb(0, 0, 0);
}

.ran{
  text-align:center;
}

.rank_header_letter{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:25px;
  color:rgb(153, 153, 153);
  margin-bottom:10px;
}

.hyou{
  width:50px;
}

.come a{
  color:blue;
}

.rank_title{
  font-weight: bold;
}

.rank_user_name{
  font-size: 13px;
}

td{
  padding:5px;
}

#ranking_render{
  margin-top:120px;
  background-color: rgb(250, 249, 249);
}








.index_right{
  width:93%;
}





.index_right img{
  border: solid 1px rgb(218, 217, 217);
  margin-top:30px;
  margin-bottom:20px;
}



.index_gazo img:hover{
  opacity:0.7;
}






//画像表示
.files_wrap{
  width:85%;
  display: flex;
  margin:0 auto;
  border: solid 1px rgb(199, 199, 199);
  border-radius: 30px;
  overflow: hidden;
  margin-top:20px;
  margin-bottom:35px;
  margin-left:48px;
}


//画像表示１枚
#file1_0{
  width:100%;
  height:350px;
  overflow: auto;
}

#file1_0 img{
  border:none;
  width:100%;
  object-fit: cover;
  vertical-align: top;
  height:100%;
  margin:0;
}


//画像表示２枚
#file2_0{
  width:50%;
  height:350px;
  margin-right: 2px;
}


#file2_0 img{
  border:none;
  width:100%;
  object-fit: cover;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  vertical-align: top;
  height:100%;
}


#file2_1{
  width:50%;
  height:350px;
}

#file2_1 img{
  border:none;
  width:100%;
  height:100%;
  object-fit: cover;
  vertical-align: top;
  margin:0;
}

//画像表示３枚
#file3_0{
  width:50%;
  height:350px;
  margin-right: 2px;
}

#file3_0 img{
  border:none;
  width:100%;
  object-fit: cover;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  vertical-align: top;
  height:100%;
}

#file3_12{
  width:50%;
  height:350px;
}

#file3_12 img{
  border:none;
  width:100%;
  height:50%;
  object-fit: cover;
  vertical-align: top;
  margin:0;
}

#file3_1 img{
  margin-bottom:2px;
}

//画像表示４枚
#file4_01{
  width:50%;
  height:350px;
  margin-right: 2px;
}

#file4_01 img{
  border:none;
  width:100%;
  height:50%;
  object-fit: cover;
  vertical-align: top;
  margin:0;
}

#file4_1 img{
  margin-bottom:2px;
}

#file4_23{
  width:50%;
  height:350px;
}

#file4_23 img{
  border:none;
  width:100%;
  height:50%;
  object-fit: cover;
  vertical-align: top;
  margin:0;
}

#file4_3 img{
  margin-bottom:2px;
}

#file1_0 video{
  border:none;
  width:100%;
  object-fit: cover;
  vertical-align: top;
  height:100%;
  margin:0;
}





.index_right video{
  border-radius: 10px;
  border: solid 3px rgb(218, 217, 217);
  margin-top:30px;
  margin-bottom:35px;
}





#file1_0 iframe{
  border:none;
  width:100%;
  object-fit: cover;
  height:100%;
  display:block;
}





.index_right_file_url a{
  color:rgb(25, 116, 252);
}

.index_right_file_url :hover{
  text-decoration: underline;
}





.form_button input{
  background-color:rgb(0, 132, 255);
  color:white;
  border-radius: 10px;
}

.form_button input:hover{
  opacity:0.7;
}



.tag a{
  color:rgb(0, 119, 255);
}

.tag a:hover{
  text-decoration: underline;
}




.search_form{
  text-align:center;
  margin-top:70px;
}
.search_form_text{
  width:15%;
}

.search_form_text::placeholder {
  text-align: center;
}

.search_form_nil{
  text-align:center;
}













.search_form_container{
  padding-top:20px;
}

.index_setu mark{
  background-color:initial;
  color:#015ac0;
  font-weight: bold;
}


.comment_index:hover{
  background-color:white;
}

//投稿ページ

.post_page_container{
  padding-top:110px;
  padding-bottom: 100px;
  width:50%;
  margin:0 auto;
}

.post_page_container p{
  margin-top:5px;
  margin-bottom:5px;
}



.new_title textarea{
  width:100%;
  height:50%;
  box-sizing: border-box;
  border:none;
  resize: none;
  border: solid 1px rgb(218, 217, 217);
  margin-bottom:15px;
}

.new_title textarea:focus{
  outline:none;
}




.new_description textarea{
  height:50%;
  width:100%;
  box-sizing: border-box;
  margin:0 auto;
  border:none;
  resize: none;
  border: solid 1px rgb(218, 217, 217);
  margin-bottom:15px;
}

.new_description textarea:focus{
  outline:none;
}



.new_url input{
  width:100%;
  box-sizing: border-box;
  display: inline-block;
  margin:0 auto;
  border:none;
  border: solid 1px rgb(218, 217, 217);
  margin-bottom:15px;
}


.new_url input:focus{
  outline:none;
}

.new_tag input{
  width:100%;
  box-sizing: border-box;
  display: inline-block;
  margin:0 auto;
  border:none;
  border: solid 1px rgb(218, 217, 217);
  margin-bottom:15px;
}

.new_tag input:focus{
  outline:none;
}










.post_edit_page_letter,.post_new_page_letter{
  text-align:center;
  font-size:40px;
  color:rgb(175, 175, 175);
  margin-bottom:10px;
}



#result_post img{
  width:150px;
  height:180px;
  vertical-align: top;
  margin:10px;
  border-radius: 10px;
  object-fit: cover;
}

#result_video video{
  width:150px;
  height:180px;
  vertical-align: top;
  margin:10px;
  border-radius: 10px;
  object-fit: cover;
}


#post_img{
  margin-top:10px;
  margin-bottom:5px;
}

#post_video{
  margin-top:10px;
  margin-bottom:10px;
}

.post_new_submit{
  text-align:center;
}

.post_new_submit input{
  width:100%;
  padding:10px;
  border:none;
  background-color: #3b98f0;
  color:white;
  font-weight: bold;
}


.index_right_file{
  text-align: center;
}


.index_right_file a{
  color:#0077ff;
  font-size:15px;
}

.index_right_file_url{
  text-align: left;
}

.index_right_file_url a{
  color:#0077ff;
  font-size:12px;
  padding-left: 5px;
}




.new_img input{
  display:none;
}

.new_img label{
  color:rgb(46, 46, 46);
  background-color:rgb(233, 233, 233);
  padding:0 5px;
  border: solid 1px rgb(180, 180, 180);
  display: inline-block;
  margin-top:10px;
  margin-bottom:10px;
  font-size:14px;
  cursor:pointer;
}

.new_movie input{
  display:none;
}

.new_movie label{
  color:rgb(46, 46, 46);
  background-color:rgb(233, 233, 233);
  padding:0 5px;
  border: solid 1px rgb(180, 180, 180);
  display: inline-block;
  margin-top:10px;
  margin-bottom:10px;
  font-size:14px;
  cursor: pointer;
}


.user_name_link:hover{
  text-decoration: underline;
}



#result_clear{
  display: none;
  font-size:12px;
  text-decoration: underline;
  color:#0077ff;
  cursor: pointer;
}



#hover_profile .user_show_img img:hover{
  opacity:0.7;
}


#hashsearch{
  border: solid 1px #dad9d9;
}



@media (max-width: 390px) {
  table {
    border-collapse: collapse;
    text-align:center;
    width:100%;
    margin: 0 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #post_index_container{
    padding-top:30px;
  }
  #ranking_render{
    margin-top:70px;
    background-color: rgb(250, 249, 249);
  }
  .post_page_container{
    padding-top:80px;
    padding-bottom: 100px;
    width:80%;
    margin:0 auto;
  }
  .search_form_text{
    width:50%;
  }
  .search_form{
    text-align:center;
    margin-top:40px;
  }
  .index_left{
    padding-left:15px;
    text-align: center;
    width:12%;
  }
  .index_gazo img{
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
    object-fit: cover;
  }
  .index_right{
    width:88%;
  }

.post_edit_page_letter,.post_new_page_letter{
  text-align:center;
  font-size:35px;
  color:rgb(175, 175, 175);
  margin-bottom:10px;
}
.index_header{
  display:flex;
  justify-content: space-between;
  margin-left:5px;
}
.index_title{
  margin-top:5px;
  margin-bottom:15px;
  margin-right:25px;
  margin-left:24px;
}
.index_setu p{
  margin-top:0;
  margin-bottom:0;
  margin-right:0;
  margin-left:0;
}
.index_setu{
  margin-top:3px;
  margin-bottom:3px;
  margin-left:15px;
}
#file1_0{
  width:100%;
  height:200px;
}
#file2_0{
  width:50%;
  height:200px;
  margin-right: 2px;
}
#file2_1{
  width:50%;
  height:200px;
}
#file3_0{
  width:50%;
  height:200px;
  margin-right: 2px;
}
#file3_12{
  width:50%;
  height:200px;
}
#file4_01{
  width:50%;
  height:200px;
  margin-right: 2px;
}
#file4_23{
  width:50%;
  height:200px;
}
#result_post img{
  width:100px;
  height:100px;
  vertical-align: top;
  margin:10px;
  border-radius: 10px;
  object-fit: cover;
}
.files_wrap{
  width:85%;
  display: flex;
  margin:0 auto;
  border: solid 1px rgb(199, 199, 199);
  border-radius: 30px;
  overflow: hidden;
  margin-top:20px;
  margin-bottom:35px;
  margin-left:22px;
}
}


