// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user{
  box-shadow: 0 2px 6px #c1ced7;
  padding: 40px 60px;
  background-color: cadetblue;
}

.user p{
  display:inline-block;
  color:white;
  background-color: gray;
  border-radius: 10px;
  border: 1px solid black;
}

.user h2{
  display:inline-block;
  vertical-align: top;
}

.usershow{
  box-shadow: 0 2px 6px #c1ced7;
  padding: 40px 60px;
}

.usershow h2{
  display:inline-block;
  vertical-align: top;
}

.usershow h3{
  text-align:center;
  font-size:50px;
}

.user img{
  width: 80px;
  height: 80px;
}

.iinegazo img{
  width: 80px;
  height: 80px;
}

.itiran p{
  display:inline-block;
}

.itiraniine a{
  border-bottom: 1px solid rgb(5, 247, 235);
}

.itiranitiran a{
  color: rgb(175, 172, 172);
}

.toukouitiran p{
  display:inline-block;

}

.toukou a{
  border-bottom: 1px solid rgb(5, 247, 235);
}

.iineiine a{
  color: rgb(175, 172, 172);
}
.userindex img{
  width: 80px;
  height: 80px;
}



a{
  color:black;
}






















.user_show_name{
  margin:0;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:20px;
}


.user_show_introduction{
  color:rgb(88, 88, 88);
}


.user_show_profile_edit{
  padding-right:4px;
  padding-left:4px;
  border: 1px solid rgb(172, 181, 185);
  background-color:rgb(219, 225, 226);
  border-radius: 10px;
  font-size:11px;
  margin-right:20px;
  margin-bottom:0;
  margin-top:0;
  margin-left:0;
}

.user_show_profile_edit :hover{
  opacity:0.6;
}




.user_show i:hover{
  opacity:0.7;
}






.user_show_list_post_button_at_like a{
  color: rgb(175, 172, 172);
}


.user_show_list_like_button_at_like a{
 border-bottom: 1px solid rgb(5, 247, 235);
}







.user_show_list_else{
  text-align:center;
}














.user_signup{

  background-color:white;
  margin-bottom:150px;
  margin-right:350px;
  margin-left:350px;
  padding-top:50px;
  padding-bottom:50px;
  padding-right:70px;
  padding-left:70px;
  border: solid 1px rgb(218, 217, 217);
}

.user_new_letter{
  text-align:center;
  font-size:40px;
  color:rgb(175, 175, 175);
  margin-top:150px;
}


.user_signup form input{
  width:100%;
  box-sizing: border-box;
  padding-top:10px;
  padding-bottom:10px;
}


.user_new_name_letter{
  margin-top:0;
  margin-bottom:5px;
  margin-left:0;
  margin-right:0;
}

.user_new_password_letter{
  margin-top:30px;
  margin-bottom:5px;
  margin-left:0;
  margin-right:0;
}

.user_new_button{
  margin-top:50px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  background-color:rgb(58, 226, 148);
  color:white;
  font-weight: bold;
  border:none;
  font-size:15px;
  border-radius: 2px;
}

.user_login_button:hover{
  opacity:0.7;
}

.user_login_button{
  margin-top:50px;
  margin-bottom:20px;
  margin-left:0;
  margin-right:0;
  background-color:rgb(59, 152, 240);
  color:white;
  font-weight: bold;
  border:none;
  font-size:15px;
  border-radius: 2px;
}

.user_new_button:hover{
  opacity:0.7;
}


.user_new_awesome{
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-left:3px;
  border: solid 2px rgb(189, 189, 189);
  border-radius: 3px;
}







.guest_form_letter{
  margin-bottom:40px;
}

.guest_form img{
  margin:0;
}

.guest_form{
  text-align:center;
  margin-top:150px;
}

.guest_form_button{
  display: inline-block;
  width:8%;
  margin-top:20px;
  padding:5px;
  background-color: rgb(59, 152, 240);
}












.form_error{
  color:rgb(175, 27, 59);
}





//フォローしてる人一覧

.following_container{
  width:40%;
  margin:0 auto;
  background-color: white;
}


.following_title{
  text-align:center;
  font-size:40px;
  color:rgb(175, 175, 175);
  margin-bottom:30px;
  margin-top:120px;
}


.following_user_index{
  border: solid 1px rgb(218, 217, 217);
  margin: 0 0 -1px;
  display:flex;
  justify-content: space-between; 
}

.following_user_index:hover{
  background-color:rgb(243, 243, 243);
}


.following_user_index img{
  width:40px;
  height:40px;
  border-radius: 20px;
  margin-top:10px;
  margin-bottom:10px;
  margin-right:10px;
  margin-left:10px;
  vertical-align: top;
}



.following_user_left{
  display: flex;
  justify-content: space-between; 
}




.following_user_name{
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(63, 63, 63);
  margin:0;
  line-height: 60px;
}



.following_user_right{
  line-height: 60px;
}

.follow_button{
  margin-top:0;
  margin-bottom:0;
  margin-right:20px;
  margin-left:0;
}

.follow_button a{
  border: 2px solid  #bbbbbb;
  color:white;
  background-color:  #bbbbbb;
  padding:3px;
  border-radius: 3px;
  font-weight: bold;
}

.not_follow_button{
  margin-top:0;
  margin-bottom:0;
  margin-right:20px;
  margin-left:0;
}

.not_follow_button a{
  border: 2px solid  #cccccc;
  color: #cccccc;
  padding:3px;
  border-radius: 3px;
  font-weight: bold;
}

.follow_button a:hover{
  opacity:0.7;
}

.not_follow_button a:hover{
  opacity:0.7;
}


.following_user_name a:hover{
  text-decoration: underline;
}




//ユーザー詳細ページ





.user_show_container{
  width:55%;
  margin:0 auto;
  padding-top:120px;
  padding-bottom: 100px;
}


.user_show_top{
  display:flex;
  margin:0 auto;
  width:75%;
}



.user_show_top img{
  width:140px;
  height:140px;
  border-radius: 70px;
  margin-bottom:30px;
  margin-right:60px;
  margin-left:35px;
  object-fit: cover;
}


.user_show_first{
  display:flex;
  justify-content: space-between;
  line-height:25px;
}

.user_show_name{
  font-size:25px;
}

.user_show_first_left{
  display:flex;
  justify-content: space-between;
}

.user_show_message .fa-envelope{
  color:#0095f6;
  border-radius: 25px;
  padding:7px 4px;
  border: solid 1px #0095f6;
  margin-right:50px;
}


.user_show_first_left .user_show_follow_button{
  padding-top:4px;
}

.user_show_first_left .follow_button{
  margin-right:10px;
}

.user_show_first_left .not_follow_button{
  margin-right:10px;
}




.user_show_second{
  display:flex;
  margin-top:5px;
}

.follow_post_number {
  margin-right:20px;
}

.follow_post_number span{
  font-weight: bold;
}


.follow_number {
  margin-right:20px;
}


.follow_number span{
  font-weight: bold;
}

.user_show_third {
  font-size:12px;
  color:rgb(110, 110, 110);
}

.user_show_third a{
  font-size:12px;
  color:rgb(110, 110, 110);
}

.user_show_third span{
  font-weight: bold;
  color:rgb(46, 46, 46);
}

.user_show_list_button_at_post{
  width:100%;
  display:flex;
  margin-top:60px;
}
.user_show_list_post_button_at_post{
  width:50%;
  text-align: center;
}

.user_show_list_like_button_at_post{
  width:50%;
  text-align: center;
}



.user_show_list_button_at_post span{
  font-weight: bold;
  padding-bottom: 10px;
}

.user_show_list_post_button_at_post{
  border-bottom: 2px solid rgb(24, 24, 24);
}

.user_show_like_index{
  display:none;
  padding:0;
}

.like_show_container{
  padding:0;
  width:100%;
}


.user_show_list_else_post{
  padding-top: 10px;
  text-align:center;
}

.user_show_list_else_like{
  padding-top: 10px;
  text-align:center;
}


.guest_form img{
  width:80px;
  height:80px;
  border-radius: 20px;
}

.guest_form{
  font-size:13px;
}

.guest_form_top{
  margin-bottom:15px;
}



.form-error{
  color:rgb(199, 2, 2);
}


#user_introduction{
  margin:0;
}

#user_edit_description{
  margin-top:15px;
}


#logout_button{
  display:inline-block;
  width:100%;
}

.logout_wrapper{
  background-color: #eeeeee;
  width:100%;
  text-align:center;
  padding:10px;
  box-sizing: border-box;
}

.logout_wrapper a{
  color:#c94d4d;
  font-weight: bold;
  font-size:13px;
}



.user_new_letter{
  text-align:center;
  font-size:40px;
  color:rgb(175, 175, 175);
  margin-top:150px;
}

#user_name{
  border: solid 1px #dad9d9;
}



@media (max-width: 390px) {
  .user_new_letter{
    text-align:center;
    font-size:35px;
    color:rgb(175, 175, 175);
    margin-top:100px;
  }

  .following_title{
    text-align:center;
    font-size:35px;
    color:rgb(175, 175, 175);
    margin-bottom:30px;
    margin-top:80px;
  }
  .following_container{
    width:100%;
    margin:0 auto;
    background-color: white;
  }
  .user_show_container{
    width:100%;
    margin:0 auto;
    padding-top:100px;
    padding-bottom: 100px;
  }

  .user_show_top img{
    width:100px;
    height:100px;
    border-radius: 70px;
    margin-bottom:15px;
    margin-right:20px;
    margin-left:25px;
    object-fit: cover;
  }

  .user_show_top{
    display:flex;
    margin:0 auto;
    width:100%;
  }
  .follow_number {
    margin-right:10px;
    font-size:11px;
  }
  
  
  .follow_number span{
    font-weight: bold;
  }

  .follow_post_number {
    margin-right:10px;
    font-size:11px;
  }

  .user_signup{
    background-color:white;
    margin:0;
    margin-bottom:150px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:40px;
    padding-left:40px;
    border: solid 1px rgb(218, 217, 217);
  }

  #user_new_responsive_letter{
    margin-top:140px;
    margin-bottom:20px;
  }
  .user_show_message .fa-envelope{
    color:#0095f6;
    border-radius: 25px;
    padding:7px 4px;
    border: solid 1px #0095f6;
    margin-right:10px;
  }

  .user_show_first_left .user_show_follow_button{
    padding-top:4px;
  }

  .user_show_name{
    padding-top:3px;
    margin:0;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
  }

  .follow_button{
    margin-top:0;
    margin-bottom:0;
    margin-right:20px;
    margin-left:0;
  }
  
  .follow_button a{
    border: 2px solid  #bbbbbb;
    color:white;
    background-color:  #bbbbbb;
    padding:3px;
    border-radius: 3px;
    font-weight: bold;
    font-size:14px;
  }
  
  .not_follow_button{
    margin-top:0;
    margin-bottom:0;
    margin-right:20px;
    margin-left:0;
  }
  
  .not_follow_button a{
    border: 2px solid  #cccccc;
    color: #cccccc;
    padding:3px;
    border-radius: 3px;
    font-weight: bold;
    font-size:14px;
  }

  .guest_form_button{
    display: inline-block;
    width:21%;
    margin-top:20px;
    padding:5px;
    background-color: rgb(59, 152, 240);
  }
  .user_show_right{
    margin-top:8px;
  }

}